@model IEnumerable<EnterpriseProgrammingAssignment.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>List of cars</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<br />
@using (Html.BeginForm("Index","Cars", FormMethod.Get))
            {
                <p>Filter by Car Make: @Html.TextBox("SearchParam") <input type="submit" value="Filter"/></p>
                <p>Location: @Html.DropDownList("Locations","All")</p>
            }
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Category),"Index", "Cars", new { sortOrder=ViewBag.CatSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MOTExpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxExpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceExpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MOTExpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxExpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceExpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
